
<!DOCTYPE html>
<html>
<head>
    <% include ../views/head %>
</head>
<body>
<% include ../proj/nav.ejs%>

<div class="contact contact-index">
  <h2>Index</h2>
  <ul>
      <% Proj_menu.forEach(function(contact) { %> <!-- 3 -->
    <li>
        <%= Proj_menu.name %>
    </li>
      <% }) %>
  </ul>
</div>
</body>
</html>